autoscaler:
  image:
    repository: ghcr.io/keyval-dev/odigos/autoscaler
    tag: v0.1.37

scheduler:
  image:
    repository: ghcr.io/keyval-dev/odigos/scheduler
    tag: v0.1.37

langDetector:
  image:
    repository: ghcr.io/keyval-dev/odigos/lang-detector
    tag: v0.1.37

ui:
  image:
    repository: ghcr.io/keyval-dev/odigos/ui
    tag: v0.1.37

instrumentor:
  deleteLangDetectionPods: true
  image:
    repository: ghcr.io/keyval-dev/odigos/instrumentor
    tag: v0.1.37

odiglet:
  image:
    repository: ghcr.io/keyval-dev/odigos/odiglet
    tag: v0.1.37
