apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: odiglet
  namespace: {{ .Release.Namespace }}
  labels:
    app: odiglet
spec:
  selector:
    matchLabels:
      app: odiglet
  template:
    metadata:
      labels:
        app: odiglet
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      tolerations:
        - key: node.kubernetes.io/os
          operator: Equal
          value: windows
          effect: NoSchedule
      serviceAccountName: odiglet
      hostNetwork: true
      hostPID: true
      dnsPolicy: ClusterFirstWithHostNet
{{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 6 }}
{{- end }}
      containers:
        - name: odiglet
          image: "{{ .Values.odiglet.image.repository }}:{{ .Values.odiglet.image.tag }}"
          imagePullPolicy: IfNotPresent
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          securityContext:
            privileged: true
            capabilities:
              add:
                - SYS_PTRACE
          volumeMounts:
            - name: run-dir
              mountPath: /run
              mountPropagation: Bidirectional
            - name: var-dir
              mountPath: /var
              mountPropagation: Bidirectional
            - name: odigos
              mountPath: /var/odigos
              mountPropagation: Bidirectional
            - name: kernel-debug
              mountPath: /sys/kernel/debug
      volumes:
        - name: run-dir
          hostPath:
            path: /run
        - name: var-dir
          hostPath:
            path: /var
        - name: odigos
          hostPath:
            path: /var/odigos
        - name: kernel-debug
          hostPath:
            path: /sys/kernel/debug
